:root {
	/*  -------colors------ */
	--white: #fff;
	--dark200: #a8a6a6;
	--dark500: #222222;
	--danger400: #f06d80;
	--success400: #0a530d;
	--gray50: #d0d0d0;
	--blue50: rgb(239, 248, 251);
	--blue400: #2982a9;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
