:root {
	/* Colors */
	--white: #fff;
	--light: #ede9e9;
	--dark: #434748;
	--dark200: #a8a6a6;
	--dark500: #222222;
	--danger300: #bc2a2a;
	--danger400: #f06d80;
	--success400: #0a530d;
	--gray50: #d0d0d0;
	--blue50: rgb(239, 248, 251);
	--blue400: #2982a9;
}
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	width: 100%;
	height: auto;
	min-height: 100vh;
	font-size: 14px;
	background-color: var(--dark);
}
